<h1> New Problem </h1>
<%= form_for @problem do |f| %>
  <%= f.label :computer_number %>
  <%= f.text_field :computer_num %><br>
  <%= f.label :description %>
  <%= f.text_field :detail %><br>
  <%= f.submit "Submit" %>
<% end %>
